
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    background-color: white;
}

header button {
    display: none;
}

header h1 {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

header nav {
    height: 5vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header nav ul {
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    width: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: black;
    transition: 0.3s ease-in-out;
}

.portifolio {
    font-weight: 700;
}

header nav ul li:hover {
    cursor: pointer;
    font-weight: 800;
    transform: scale(106%);
}

main {
    padding-top: 11vh;
}

main .firstSectionMain {
    height: 96.8vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./Assents/laranja_azul.png);
}



main .firstDivMain {
    width: 67vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    top: 37vh;
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

main h3 {
    width: 21vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: 46vh;
    font-size: 1.5em;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition:all 0.5s ease-in-out;
}

main h3:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(106%);
}

main .secondSectionMain {
    height: 160vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .thirdSectionMain {
    height: 142vh;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

main .imgDesignes {
    height: 45vh;
    width: 20vw;
    flex-wrap: wrap;
    transition: 0.5s ease-in-out;
}

main .imgDesignes:hover {
    transform: scale(106%);
}

footer {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
}

footer .firstSectionFooter {
    height: 6vh;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

footer .secondSectionFooter {
    height: 5vh;
    width: 22vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .redesSociais {
    height: 4vh;
    cursor: pointer;
}

footer .thirdSectionFooter {
    height: 10vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer .firstDivFooter {
    width: 10vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

footer .copyright {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

footer .exclusivo {
    font-size: 0.8em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

footer button{
    display: none;
}

@media(min-width:201px) and (max-width: 500px){


    body{
        width: 100%;
    }

    header {
        height: 8vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header button {
        display: initial;
        height: 8vh;
        width: 22vw;
        font-size: 2em;
        color: white;
        background-color: black;
    }

    header h1 {
        width: 65vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 2em;
    }

    header nav {
        display: none;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        display: none;
    }

    main {
        padding-top: 8vh;
    }

    main .firstSectionMain {
        height: 95vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(./Assents/laranja_azul_mobile.png);
    }

    main .firstDivMain{
        width: 15vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        top: 57vh;
        font-size: 1.7em;
    }


    main .imagine {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    main .discuta {
        width: 56.4vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    main .desenhe {
        width: 63.2vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    main h3 {
        width: 52.5vw;
        position: relative;
        top: 60vh;
        font-size: 1.2em;
    }

    main .secondSectionMain {
        height: 655vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    main .thirdSectionMain{
        height: 635vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    main .imgDesignes{
        height: 50vh;
        width: 80vw;
        transition: 0.5s;
    }

    main .imgDesignes:hover{
        transform: scale(106%);
    }

    footer {
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
    }

    footer .firstSectionFooter {
        width: 100%;
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    footer .secondSectionFooter {
        height: 7vh;
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #7FDBD4;
    }

    footer .redesSociais{
        height: 4vh;
    }

    footer .thirdSectionFooter {
        height: 30vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    footer .copyright {
        width: 30vw;
        font-size: 0.9em;
    }

    footer .exclusivo {
        height: 10vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    footer button {
        display: initial;
        height: 5vh;
        width: 22vw;
        position: relative;
        top: -12.5vh;
        right: -66.8vw;
        font-size: 1.2em;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        color: #CCCCCC;
        background-color: #333333;
        border: #707070;
        cursor: pointer;
    }
}