
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;


  
}

header button {
    display: none;
}

header h1 {
    width: 6.8em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

header nav {
    width: 40em;
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

header nav ul {
    width: 35em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header nav ul li {
    width: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: black;
    transition: 0.3s ease-in-out;


}

.portifolio {
    font-weight: 700;
}

header nav ul li:hover {
    cursor: pointer;
    font-weight: 800;
    transform: scale(106%);
}

main {
    padding-top: 5em;

}

main .firstSectionMain {
    height: 34em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./Assents/laranja_azul.png);

}



main .firstDivMain {
    width: 22.85em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    top: 5.5em;
    color: white;
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;

}

main h3 {
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: 12em;
    color: white;
    font-size: 1.5em;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s ease-in-out;

}

main h3:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(106%);

}

main .secondSectionMain {
    height: 64em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .secondDivMain {
    height: 56.5em;
    width: 75.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;


}

main .imgDesignes {
    height: 18em;
    width: 18em;
    flex-wrap: wrap;
    transition: 0.5s ease-in-out;

}

main .imgDesignes:hover {

    transform: scale(106%);
}

footer {
    height: 7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;

}

footer .firstSectionFooter {
    width: 26.1em;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}

footer .firstDivFooter {
    width: 21em;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

footer .redesSociais {
    height: 2em;
    cursor: pointer;

}

footer .secondSectionFooter {
    width: 50em;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

footer .secondDivFooter {
    width: 7em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

footer .copyright {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

footer .exclusivo {
    font-size: 0.8em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

footer button{
    display: none;
}

@media(max-width: 700px) {


    header {
        height: 3em;
        width: 19.7em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border: 2px solid;
    }

    header button {
        display: initial;
        height: 1.8em;
        width: 3em;
        font-size: 1.7em;
        color: white;
        background-color: black;
    }

    header h1 {
        width: 7em;
        display: initial;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.8em;

        border: 2px solid;


    }

    header nav {
        display: none;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        display: none;
    }

    main {
        padding-top: 0;
    }

    main .firstSectionMain {
        height: 39em;
        width: 19.7em;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(./Assents/laranja_azul_mobile.png);
    }

    main .firstDivMain{
        width: 10em;
        height: 5.5em;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 13.89em;
        align-items: flex-start;
        font-size: 1.7em;

    }



    main .imagine {
        width: 5.3em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    main .discuta {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 4.99em;
    }

    main .desenhe {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 5.64em;
    }

    main h3 {
        width: 9.8em;
        position: relative;
        top: 20em;
        font-size: 1.2em;
    }

    main .secondSectionMain {
        height: 239em;
        width: 19.7em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    main .secondDivMain{
        height: 235em;
        width: 18em;
        display: flex;
        flex-direction: column;
    }

    main .imgDesignes{
        height: 17em;
        width: 17em;
        transition: 0.5s;
    }

    main .imgDesignes:hover{
        transform: scale(106%);
    }

    footer {
        height: 14em;
        width: 19.7em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;


    }

    footer .firstSectionFooter {
        width: 19.7em;
        height: 5em;
        display: flex;
        flex-direction: row;
        justify-content: center;


    }

   

    footer .firstDivFooter {
        width: 17em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #7FDBD4;


    }

 footer .redesSociais{
        height: 1.8em;
    }

    footer .secondSectionFooter {
        width: 17em;
        height: 9.8em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;


    }

    footer .copyright {
        width: 10em;
        font-size: 0.9em;

    }

    footer .exclusivo {
        width: 14em;
        height: 5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    footer button {
        display: initial;
        cursor: pointer;
        width: 4em;
        color: #CCCCCC;
        font-size: 1.2em;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        background-color: #333333;
        border: #707070;
        position: relative;
        top: -4.5em;
        right: -9.8em;

    }
}
